    <!-- Loading bar -->
    <section id="load-screen">
         <div class="looding-in background-light-grey padding-tb-200px z-index-99">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-6 text-center">
                        <!-- Loading -->
                        <div class="loading-page">
                            <div class="counter">
                                <div class="text-center"><a href="#"><img src="assets/images/logo.png" alt=""></a></div>
                                <div class="margin-tb-30px padding-8px background-white">
                                    <div class="animation padding-2px background-main-color"></div>
                                </div>
                                <div>loading <span class="num">0%</span></div>
                            </div>
                        </div>
                        <!-- // Loading -->
                    </div>
                </div>
                <!-- // row -->
            </div>
            <!-- // container -->
        </div>
    </section>
    <!-- // Loading bar -->

    <!-- ======= Header  ======= -->
    <header class="background-white box-shadow">
<!--        <div class="background-main-color padding-tb-5px">
            <div class="container">
                <div class="row">
                    <div class="col-sm d-none d-sm-block text-white">Website for your travel....</div>
                    <div class="col-sm">
                        <ul class="list-inline text-center margin-0px text-white">
                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                         // Social 
                    </div>
                    <div class="col-sm d-none d-sm-block">
                        <ul class="user-area list-inline float-right margin-0px text-white">
                            <li class="list-inline-item  padding-right-10px"><a href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i>login</a></li>
                            <li class="list-inline-item"><a href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i>register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="header-output">
            <div class="container header-in">
                <div class="row">
                    <div class="col-lg-3">
                        <a id="logo" href="#" class="d-inline-block margin-tb-10px"><img src="assets/images/logo.png" alt=""></a>
                        <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
                    </div>
<!--                    <div class="col-lg-9 position-inherit">
                        <ul id="menu-main" class="nav-menu float-right link-padding-tb-20px dropdown-dark">
                            <li class="active mega-menu mega-links mega-links-4columns"><a href="#">Home</a>
                                <div class="mega-menu-out sub-menu-out">
                                    <ul class="sub-menu-columns">
                                        <li>
                                            <a href="#">demos one</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="01-home.html">Home - Agency 1</a></li>
                                                <li><a href="02-home.html">Home - Agency 2</a></li>
                                                <li><a href="03-home.html">Home - Agency 3</a></li>
                                                <li><a href="04-home.html">Home - Agency 4</a></li>
                                                <li><a href="05-home.html">Home - Agency 5</a></li>
                                                <li><a href="06-home.html">Home - Agency 6</a></li>
                                                <li><a href="07-home.html">Home - Agency 7</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos Two</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="08-home.html">Home - Agency 8</a></li>
                                                <li><a href="09-home.html">Home - Agency 9</a></li>
                                                <li><a href="10-home.html">Home - Ocean Tours</a></li>
                                                <li><a href="11-home.html">Home - Anwaar Hotel</a></li>
                                                <li><a href="12-home.html">Home - Anwaar Hotel 2</a></li>
                                                <li><a href="13-home.html">Home - Taxi VIP</a></li>
                                                <li><a href="14-home.html">Home - City Taxi</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos three</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="15-home.html">Home - Blogger</a></li>
                                                <li><a href="16-home.html">Home - Blogger 2</a></li>
                                                <li><a href="17-home.html">Home - Sea World</a></li>
                                                <li><a href="18-home.html">Home - Sailing Tours</a></li>
                                                <li><a href="19-home.html">Home - Magazine</a></li>
                                                <li><a href="20-home.html">Home - Magazine 2</a></li>
                                                <li><a href="21-home.html">Home - Right Header</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos four</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="22-home.html">Home - Knoon Hotel</a></li>
                                                <li><a href="23-home.html">Home - Africa Travel</a></li>
                                                <li><a href="24-home.html">Home - Dark Style</a></li>
                                                <li><a href="25-home.html">Home - Search Header</a></li>
                                                <li><a href="26-home-one-page.html">Home - One page 1</a></li>
                                                <li><a href="27-home-one-page.html">Home - One page 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-dropdown"><a class="dropdown" href="#">Features  </a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">Headers</a>
                                        <ul class="sub-menu">
                                            <li><a href="header-layout-1.html">Header 1</a></li>
                                            <li><a href="header-layout-2.html">Header 2</a></li>
                                            <li><a href="header-layout-3.html">Header 3</a></li>
                                            <li><a href="header-layout-4.html">Header 4</a></li>
                                            <li><a href="header-layout-5.html">Header 5</a></li>
                                            <li><a href="header-layout-6.html">Header 6</a></li>
                                            <li><a href="header-layout-7.html">Header 7</a></li>
                                            <li><a href="header-layout-8.html">Header 8</a></li>
                                            <li><a href="header-layout-9.html">Header 9</a></li>
                                            <li><a href="header-layout-10.html">Header 10</a></li>
                                            <li><a href="header-layout-11.html">Header 11</a></li>
                                            <li><a href="header-layout-12.html">Header 12</a></li>
                                            <li><a href="header-layout-13.html">Header 13</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Footers</a>
                                        <ul class="sub-menu">
                                            <li><a href="footer-layout-1.html">Footer 1</a></li>
                                            <li><a href="footer-layout-2.html">Footer 2</a></li>
                                            <li><a href="footer-layout-3.html">Footer 3</a></li>
                                            <li><a href="footer-layout-4.html">Footer 4</a></li>
                                            <li><a href="footer-layout-5.html">Footer 5</a></li>
                                            <li><a href="footer-layout-6.html">Footer 6</a></li>
                                            <li><a href="footer-layout-7.html">Footer 7</a></li>
                                            <li><a href="footer-layout-8.html">Footer 8</a></li>
                                            <li><a href="footer-layout-9.html">Footer 9</a></li>
                                            <li><a href="footer-layout-10.html">Footer 10</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Gallery</a>
                                        <ul class="sub-menu">
                                            <li><a href="gallery-full-width.html">Gallery Full Width</a></li>
                                            <li><a href="gallery-2-column.html">Gallery 2 Column</a></li>
                                            <li><a href="gallery-3-column.html">Gallery 3 Column</a></li>
                                            <li><a href="gallery-4-column.html">Gallery 4 Column</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-2-col-left-sidebar.html">2 Col Left sidebar</a></li>
                                            <li><a href="shop-3-col-left-sidebar.html">3 Col Left sidebar</a></li>
                                            <li><a href="shop-2-col-right-sidebar.html">2 Col Right sidebar</a></li>
                                            <li><a href="shop-3-col-right-sidebar.html">3 Col Right sidebar</a></li>
                                            <li><a href="shop-3-col.html">3 Columns</a></li>
                                            <li><a href="shop-4-col.html">4 Columns</a></li>
                                            <li><a href="shop-cart.html">Cart</a></li>
                                            <li><a href="shop-single.html">Single 1</a></li>
                                            <li><a href="shop-single-2.html">Single 2</a></li>
                                            <li><a href="shop-single-2.html">Single 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">page title</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-title-1.html">page title 1</a></li>
                                            <li><a href="page-title-2.html">page title 2</a></li>
                                            <li><a href="page-title-3.html">page title 3</a></li>
                                            <li><a href="page-title-4.html">page title 4</a></li>
                                            <li><a href="page-title-5.html">page title 5</a></li>
                                            <li><a href="page-title-6.html">page title 6</a></li>
                                            <li><a href="page-title-7.html">page title 7</a></li>
                                            <li><a href="page-title-8.html">page title 8</a></li>
                                            <li><a href="page-title-9.html">page title 9</a></li>
                                            <li><a href="page-title-10.html">page title 10</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-dropdown"><a href="#">Dashboard</a>
                                        <ul class="sub-menu">
                                            <li><a href="dashboard-home.html">Dashboard home</a></li>
                                            <li><a href="dashboard-my-items.html">my items</a></li>
                                            <li><a href="dashboard-my-favorites.html">my favorites</a></li>
                                            <li><a href="dashboard-my-profile.html">my profile</a></li>
                                            <li><a href="dashboard-blank.html">blank</a></li>
                                            <li><a href="dashboard-404-page.html">404 page</a></li>
                                            <li><a href="dashboard-packages.html">packages</a></li>
                                            <li><a href="dashboard-reviews.html">reviews</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Dashboard V2</a>
                                        <ul class="sub-menu">
                                            <li><a href="dashboard-v2-home.html">Dashboard home</a></li>
                                            <li><a href="dashboard-v2-my-items.html">my items</a></li>
                                            <li><a href="dashboard-v2-my-favorites.html">my favorites</a></li>
                                            <li><a href="dashboard-v2-my-profile.html">my profile</a></li>
                                            <li><a href="dashboard-v2-blank.html">blank</a></li>
                                            <li><a href="dashboard-v2-404-page.html">404 page</a></li>
                                            <li><a href="dashboard-v2-packages.html">packages</a></li>
                                            <li><a href="dashboard-v2-reviews.html">reviews</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-dropdown"><a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">Grid Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-grid-4-colm.html">Grid 4 Columns</a></li>
                                            <li><a href="blog-grid-left-sidebar.html">grid left sidebar</a></li>
                                            <li><a href="blog-grid-no-sidebar.html">grid no sidebar</a></li>
                                            <li><a href="blog-grid-right-sidebar.html">grid right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">list Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-list-left-sidebar.html">list left sidebar</a></li>
                                            <li><a href="blog-list-no-sidebar.html">list no sidebar</a></li>
                                            <li><a href="blog-list-right-sidebar.html">list right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">classic Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-classic-left-sidebar.html">classic left sidebar</a></li>
                                            <li><a href="blog-classic-no-sidebar.html">classic no sidebar</a></li>
                                            <li><a href="blog-classic-right-sidebar.html">classic right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">single Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-single-left-sidebar.html">single left sidebar</a></li>
                                            <li><a href="blog-single-no-sidebar.html">single no sidebar</a></li>
                                            <li><a href="blog-single-right-sidebar.html">single right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Post Formats</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-audio-post.html">audio post</a></li>
                                            <li><a href="blog-blockquote-post.html">blockquote post</a></li>
                                            <li><a href="blog-gallery-post.html">gallery post</a></li>
                                            <li><a href="blog-html5-video-post.html">video post</a></li>
                                            <li><a href="blog-slider-post.html">slider post</a></li>
                                            <li><a href="blog-standard-post.html">standard post</a></li>
                                            <li><a href="blog-vimeo-video-post.html">vimeo video post</a></li>
                                            <li><a href="blog-youtube-video-post.html">youtube video post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">about</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-about.html">about 1</a></li>
                                            <li><a href="page-about-2.html">about 2</a></li>
                                            <li><a href="page-careers.html">careers</a></li>
                                            <li><a href="page-how-we-are.html">how we are</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">coming soon</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-coming-soon-1.html">coming soon 1</a></li>
                                            <li><a href="page-coming-soon-2.html">coming soon 2</a></li>
                                            <li><a href="page-coming-soon-3.html">coming soon 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">contact</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-contact-1.html">contact 1</a></li>
                                            <li><a href="page-contact-2.html">contact 2</a></li>
                                            <li><a href="page-contact-3.html">contact 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">faqs</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-faqs-1.html">faqs 1</a></li>
                                            <li><a href="page-faqs-2.html">faqs 2</a></li>
                                            <li><a href="page-faqs-3.html">faqs 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">404 page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-faqs-1.html">404 page 1</a></li>
                                            <li><a href="page-faqs-2.html">404 page 2</a></li>
                                            <li><a href="page-faqs-3.html">404 page 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">loading page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-loading-1.html">loading page 1</a></li>
                                            <li><a href="page-loading-2.html">loading page 2</a></li>
                                            <li><a href="page-loading-3.html">loading page 3</a></li>
                                            <li><a href="page-loading-4.html">loading page 4</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">login page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-login-1.html">login page 1</a></li>
                                            <li><a href="page-login-2.html">login page 2</a></li>
                                            <li><a href="page-login-3.html">login page 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">pricing tables</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-pricing-tables-1.html">pricing tables 1</a></li>
                                            <li><a href="page-pricing-tables-2.html">pricing tables 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">services</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-services-1.html">page services 1</a></li>
                                            <li><a href="page-services-2.html">page services 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">team page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-team-1.html">team page 1</a></li>
                                            <li><a href="page-team-2.html">team page 2</a></li>
                                            <li><a href="page-team-single.html">team single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page-maintenance.html">maintenance page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Hotels</a>
                                <ul class="sub-menu">
                                    <li><a href="hotel-list.html">Hotels List View</a></li>
                                    <li><a href="hotel-grid-1.html">Hotels Grid View</a></li>
                                    <li><a href="hotel-grid-2.html">Hotels Grid View 2</a></li>
                                    <li><a href="hotel-details.html">Hotels Details</a></li>
                                    <li><a href="hotel-booking.html">Hotels Booking</a></li>
                                    <li><a href="hotel-thank-you.html">Hotels Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Flights</a>
                                <ul class="sub-menu">
                                    <li><a href="flight-list.html">Flights List View</a></li>
                                    <li><a href="flight-grid-1.html">Flights Grid View</a></li>
                                    <li><a href="flight-grid-2.html">Flights Grid View 2</a></li>
                                    <li><a href="flight-details.html">Flights Details</a></li>
                                    <li><a href="flight-booking.html">Flights Booking</a></li>
                                    <li><a href="flight-thank-you.html">Flights Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Cars</a>
                                <ul class="sub-menu">
                                    <li><a href="car-list.html">Cars List View</a></li>
                                    <li><a href="car-grid-1.html">Cars Grid View</a></li>
                                    <li><a href="car-grid-2.html">Cars Grid View 2</a></li>
                                    <li><a href="car-details.html">Cars Details</a></li>
                                    <li><a href="car-booking.html">Cars Booking</a></li>
                                    <li><a href="car-thank-you.html">Cars Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">tour</a>
                                <ul class="sub-menu">
                                    <li><a href="tour-list.html">tour List View</a></li>
                                    <li><a href="tour-grid-1.html">tour Grid View</a></li>
                                    <li><a href="tour-grid-2.html">tour Grid View 2</a></li>
                                    <li><a href="tour-details.html">tour Details</a></li>
                                    <li><a href="tour-booking.html">tour Booking</a></li>
                                    <li><a href="tour-thank-you.html">tour Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu mega-links mega-links-4columns"><a href="#">Elements</a>
                                <div class="mega-menu-out sub-menu-out">
                                    <ul class="sub-menu-columns">
                                        <li>
                                            <a href="#">Elements One</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-accordions.html">accordions</a></li>
                                                <li><a href="elements-action-box.html">action box</a></li>
                                                <li><a href="elements-alert-messages.html">alert messages</a></li>
                                                <li><a href="elements-banners.html">banners</a></li>
                                                <li><a href="elements-blockquotes.html">blockquotes</a></li>
                                                <li><a href="elements-blog-post.html">blog post</a></li>
                                                <li><a href="elements-booking-box.html">booking box</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements Two</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-box-style.html">box style</a></li>
                                                <li><a href="elements-buttons.html">buttons</a></li>
                                                <li><a href="elements-clients.html">clients</a></li>
                                                <li><a href="elements-columns-grids.html">columns grids</a></li>
                                                <li><a href="elements-counters.html">counters</a></li>
                                                <li><a href="elements-datatable.html">datatable</a></li>
                                                <li><a href="elements-flag-icon.html">flag icon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements three</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-fontawesome.html">fontawesome</a></li>
                                                <li><a href="elements-icon-style.html">icon style</a></li>
                                                <li><a href="elements-labels-badges.html">labels badges</a></li>
                                                <li><a href="elements-lists.html">lists</a></li>
                                                <li><a href="elements-maps.html">maps</a></li>
                                                <li><a href="elements-pagination.html">pagination</a></li>
                                                <li><a href="elements-social-icons.html">social icons</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements four</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-tabs.html">tabs</a></li>
                                                <li><a href="elements-team.html">team</a></li>
                                                <li><a href="elements-typography.html">typography</a></li>
                                                <li><a href="elements-video.html">video</a></li>
                                                <li><a href="elements-timeline.html">timeline</a></li>




                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>-->
                </div>
            </div>
        </div>
    </header>
    <!-- ======= end Header  ======= -->


    <!-- =======  Rev Slider  ======= -->

    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="travel-home-new" data-source="gallery" style="margin:0px auto;background:rgba(211,211,211,0);padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/assets/100x50_d0c75-ba_1.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/assets/d0c75-ba_1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme" id="slide-8-layer-1" data-x="['left','left','center','center']" data-hoffset="['806','608','0','0']" data-y="['top','top','top','top']" data-voffset="['146','150','150','165']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":810,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7610","speed":560,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 22px; font-weight: 400; color: #1db8c1;font-family:Raleway;text-transform:uppercase;">Travel Website </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme" id="slide-8-layer-2" data-x="['left','left','center','center']" data-hoffset="['808','608','0','0']" data-y="['top','top','top','top']" data-voffset="['199','206','206','201']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":510,"speed":720,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6840","speed":580,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000;font-family:Raleway;text-transform:uppercase;">Html & Css / jquery / javascript </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" id="slide-8-layer-3" data-x="['left','left','center','center']" data-hoffset="['806','607','1','-1']" data-y="['top','top','top','top']" data-voffset="['261','265','265','256']" data-width="['364','364','363','361']" data-height="['50','50','52','69']" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":950,"speed":770,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6110","speed":640,"frame":"999","to":"x:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 364px; max-width: 364px; max-width: 50px; max-width: 50px; white-space: normal; font-size: 14px; line-height: 22px; font-weight: 400; color: #636363;font-family:Open Sans;">Responsive & Raw Multi-Purpose Multi-Page & One-Page HTML5 Site. </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn " id="slide-8-layer-5" data-x="['left','left','center','center']" data-hoffset="['804','608','0','2']" data-y="['top','top','top','top']" data-voffset="['360','355','355','353']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1320,"speed":840,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5600","speed":410,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 700; color: #000000;font-family:Raleway;text-transform:uppercase;background-color:rgba(243, 190, 78, 0.75);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">get started today </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-8-layer-6" data-x="['left','left','center','center']" data-hoffset="['801','609','0','0']" data-y="['top','top','top','top']" data-voffset="['26','59','59','63']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":820,"speed":1380,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5290","speed":570,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;"><img src="assets/assets/e7b05-png-1.png" alt="" data-ww="['199px','199px','199px','199px']" data-hh="['58px','58px','58px','58px']" data-no-retina> </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme" id="slide-8-layer-8" data-x="['left','left','left','left']" data-hoffset="['497','332','-63','-294']" data-y="['top','top','top','top']" data-voffset="['143','141','117','94']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":1450,"speed":1240,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4420","speed":750,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;"><img src="assets/assets/164d7-family-travel.png" alt="" data-ww="['274px','274px','274px','274px']" data-hh="['372px','372px','372px','372px']" data-no-retina> </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/assets/100x50_a8dd4-ba_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/assets/a8dd4-ba_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme" id="slide-9-layer-1" data-x="['left','left','center','center']" data-hoffset="['725','586','0','0']" data-y="['top','top','top','top']" data-voffset="['104','101','101','101']" data-width="227" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":800,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7870","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; min-width: 227px; max-width: 227px; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 500; color: #2d2d2d;font-family:Raleway;text-transform:uppercase;">How Does <br> it work </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme" id="slide-9-layer-2" data-x="['left','left','center','center']" data-hoffset="['723','585','0','0']" data-y="['top','top','top','top']" data-voffset="['203','208','208','208']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":560,"speed":740,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7150","speed":300,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #686868;font-family:Open Sans;">IT'S SO EASY THAT ANYONE CAN DO IT </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme" id="slide-9-layer-6" data-x="['left','left','left','left']" data-hoffset="['475','270','-103','-52']" data-y="['top','top','top','top']" data-voffset="['233','239','257','286']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":1200,"speed":940,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6160","speed":300,"frame":"999","to":"y:bottom;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;"><img src="assets/assets/dc78b-png-2.png" alt="" data-ww="['385px','385px','385px','385px']" data-hh="['323px','323px','323px','323px']" data-no-retina> </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme" id="slide-9-layer-3" data-x="['left','left','center','center']" data-hoffset="['727','582','0','0']" data-y="['top','top','top','top']" data-voffset="['265','262','262','262']" data-width="440" data-height="63" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":910,"speed":730,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6500","speed":300,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 440px; max-width: 440px; max-width: 63px; max-width: 63px; white-space: normal; font-size: 14px; line-height: 22px; font-weight: 400; color: #7c7c7c;font-family:Open Sans;">Our coming Visual Editor add-on (Soon on CodeCanyon) will make creating any design an absolute breeze. </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption rev-btn " id="slide-9-layer-5" data-x="['left','left','center','center']" data-hoffset="['727','579','0','0']" data-y="['top','top','top','top']" data-voffset="['362','366','366','366']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1460,"speed":790,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;z:1;","ease":"Power3.easeInOut"},{"delay":"+5780","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 9; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1);font-family:Raleway;background-color:rgba(0,0,0,0.75);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">I WANT A LICENSE </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-10" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/assets/100x50_a23f0-ba_3.jpg" data-rotate="0" data-saveperformance="off" data-mediafilter="lofi" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/assets/a23f0-ba_3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption   tp-resizeme" id="slide-10-layer-1" data-x="['left','left','center','center']" data-hoffset="['843','576','0','0']" data-y="['top','top','top','top']" data-voffset="['79','96','96','96']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":780,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7700","speed":510,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 48px; font-weight: 400; color: #0071a5;font-family:Raleway;text-transform:uppercase;">This is <br> Variety! </div>

                    <!-- LAYER NR. 13 -->
                    <div class="tp-caption   tp-resizeme" id="slide-10-layer-2" data-x="['left','left','center','center']" data-hoffset="['841','573','0','0']" data-y="['top','top','top','top']" data-voffset="['218','231','231','209']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":360,"speed":940,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6880","speed":650,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,10,10,10]" data-paddingright="[10,10,10,10]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[10,10,10,10]" style="z-index: 6; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 600; color: #000000;font-family:Raleway;background-color:rgba(255, 255, 255, 0.5);">JUST PICK AND CUSTOMIZE </div>

                    <!-- LAYER NR. 14 -->
                    <div class="tp-caption   tp-resizeme" id="slide-10-layer-3" data-x="['left','left','center','center']" data-hoffset="['836','573','-1','0']" data-y="['top','top','top','top']" data-voffset="['303','308','289','278']" data-width="['331','331','416','416']" data-height="['73','73','none','none']" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":820,"speed":880,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6200","speed":650,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[10,10,10,10]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[10,10,10,10]" style="z-index: 7; min-width: 331px; max-width: 331px; max-width: 73px; max-width: 73px; white-space: normal; font-size: 14px; line-height: 22px; font-weight: 400; color: #000000;font-family:Raleway;background-color:rgba(255, 255, 255, 0.5);">We made sure that there are plenty of examples available for you to choose from. </div>

                    <!-- LAYER NR. 15 -->
                    <div class="tp-caption rev-btn " id="slide-10-layer-4" data-x="['left','left','center','center']" data-hoffset="['829','571','1','0']" data-y="['top','top','top','top']" data-voffset="['391','405','380','362']" data-width="['252','257','254','252']" data-height="['42','43','42','42']" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1160,"speed":850,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5450","speed":760,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]" data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 8; min-width: 252px; max-width: 252px; max-width: 42px; max-width: 42px; white-space: normal; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1);font-family:Raleway;background-color:rgba(0,0,0,0.75);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">HOW DOES IT WORK? </div>

                    <!-- LAYER NR. 16 -->
                    <div class="tp-caption   tp-resizeme" id="slide-10-layer-5" data-x="['left','left','left','left']" data-hoffset="['524','229','-183','-385']" data-y="['top','top','top','top']" data-voffset="['200','221','218','215']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":1370,"speed":1110,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4740","speed":800,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;"><img src="assets/assets/1af4e-png-3.png" alt="" data-ww="['379px','379px','379px','379px']" data-hh="['358px','358px','358px','358px']" data-no-retina> </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <script type="text/javascript">
      

    </script>
    <!-- ======= end Rev Slider  ======= -->



    <!-- ======= Search Filter  ======= -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5">

                <div id="search-filter-in" class="full-width position-absolute sm-position-relative bottom-80px sm-bottom-auto">
                    <div class="search-filter row no-gutters box-shadow sm-tb-40px">
                        <div class="filter-tabs  col-lg-5 background-second-color">
                            <img class="hidden-xs" src="assets/images/img-1.jpg" alt="">
                            <ul class="nav nav-tabs flex-column" role="tablist">
                                
                                
                                 <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><i class="fa fa-plane"></i> Flights</a>
                                </li>
<!--                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#home" role="tab"><i class="fa fa-hotel"></i> Hotels</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="fa fa-cab"></i> Cars</a>
                                </li>-->
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="filter-output booking-form-box col-lg-7">
                            <!-- Tab panes -->
                            <div class="tab-content  padding-30px background-white">
                                <div class="tab-pane" id="home" role="tabpanel">
                                    <div class="form-group margin-bottom-5px">
                                        <label>Destination</label>
                                        <div class="destination"><input type="text" class="input-text full-width" placeholder="Enter Destination"></div>
                                    </div>
                                    <div class="form-group margin-bottom-5px">
                                        <label>Check Out</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                    </div>
                                    <div class="form-group margin-bottom-5px">
                                        <label>Check Out</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                    </div>
                                    <div class="row margin-bottom-10px">
                                        <div class="form-group col">
                                            <label>Rooms</label>
                                            <div class="rooms"><input type="text" class="input-text full-width" placeholder="1"></div>
                                        </div>
                                        <div class="form-group col">
                                            <label>Children</label>
                                            <div class="children"><input type="text" class="input-text full-width" placeholder="0"></div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Hotel  Search</a>
                                </div>
                                <div class="tab-pane active" id="profile" role="tabpanel" alexa_intent_name="AMAZON_FLIGHT_BOOKING" alexa_action="document.getElementById('findflights').click();">
                                    <form action="list" method="GET">
                                    
                                    <!-- ====== Flights ====== -->
                                    <div class="form-group margin-bottom-5px">
                                        <label>Flying from:</label>
                                        <div class="destination"><input type="text" class="input-text full-width" id="flying-from" name="flying-from" placeholder="Flying from" alexa_slot_name="from_city" alexa_slot_type="AMAZON.US_CITY"></div>
                                    </div>
                                    <div class="form-group margin-bottom-5px">
                                        <label>Flying to:</label>
                                        <div class="destination"><input type="text" class="input-text full-width" id="flying-to" name="flying-to" placeholder="Flying to" alexa_slot_name="to_city" alexa_slot_type="AMAZON.US_CITY"></div>
                                    </div>
                                    <div class="form-group margin-bottom-5px">
                                        <label>Departing:</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" id="flying-start" name="flying-start" placeholder="15 / 5 / 2017" alexa_slot_name="date" alexa_slot_type="AMAZON.DATE"></div>
                                    </div>
                                    <div class="form-group margin-bottom-25px">
                                        <label>Returning:</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" id="flying-end" name="flying-end" placeholder="15 / 5 / 2017" ></div>
                                    </div>
                                    <button type="submit" id="findflights" style="cursor:pointer;" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search" ></i> Flights  Search</button>
                                    <!-- ====== //  Flights ====== -->
                                     </form>
                                </div>
                                <div class="tab-pane" id="messages" role="tabpanel">
                                    <!-- ====== Cars ====== -->
                                    <div class="form-group  margin-bottom-5px">
                                        <label>Location:</label>
                                        <div class="destination"><input type="text" class="input-text full-width" placeholder="Location"></div>
                                    </div>
                                    <div class="form-group  margin-bottom-5px">
                                        <label>Type of car :</label>
                                        <div class="destination"><input type="text" class="input-text full-width" placeholder="Type of car"></div>
                                    </div>
                                    <div class="form-group  margin-bottom-5px">
                                        <label>Pick up Date:</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                    </div>
                                    <div class="form-group margin-bottom-25px">
                                        <label>Drop off Date:</label>
                                        <div class="date-input"><input type="text" class="input-text datepicker full-width" placeholder="15 / 5 / 2017"></div>
                                    </div>
                                    <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Cars  Search</a>
                                    <!-- ====== //  Cars ====== -->
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ======= end Search Filter  ======= -->



    <!-- ======= New Hotels  ======= -->
    <section id="hot-hotels" class="hot-hotels padding-tb-100px background-light-grey">
        <div class="container">
            <div class="section-title section-title-center">
                <h1 class="title"><span>Hot</span> Hotels</h1>
                <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
            </div>

            <div class="row">

                <!-- hotel item ( 1 ) -->
                <div class="col-sm-6 col-lg-3 sm-mb-30px">
                    <div class="hotel-grid background-white border border-grey-1 with-hover">
                        <div class="hotel-img position-relative">
                            <div class="hover-option background-main-color opacity-6">
                                <div class="h3 text-center text-white padding-top-n-25 "><i class="fa fa-building-o opacity-10"></i></div>
                            </div>
                            <img src="assets/demo-img/hotel-grid-1.jpg" alt="">
                        </div>
                        <div class="rating">
                            <ul>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="padding-20px">
                            <h3 class="text-uppercase text-medium"><a href="#" class="text-dark">Adel New Hotel</a></h3>
                            <small class="text-uppercase text-extra-small">
                                <a href="#" class="text-grey-4"><i class="fa fa-map-marker margin-right-5px"></i>
                                <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                            </small>
                            <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                            <div class="margin-bottom-8px text-uppercase text-extra-small">
                                <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase ">Booking Now </a>
                        </div>
                    </div>
                </div>


                <!-- hotel item ( 2 ) -->
                <div class="col-sm-6 col-lg-3 sm-mb-30px">
                    <div class="hotel-grid background-white border border-grey-1 with-hover">
                        <div class="hotel-img position-relative">
                            <div class="hover-option background-main-color opacity-6">
                                <div class="h3 text-center text-white padding-top-n-25 "><i class="fa fa-building-o opacity-10"></i></div>
                            </div>
                            <img src="assets/demo-img/hotel-grid-2.jpg" alt="">
                        </div>
                        <div class="rating">
                            <ul>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="padding-20px">
                            <h3 class="text-uppercase text-medium"><a href="#" class="text-dark">Anwar City Hotel</a></h3>
                            <small class="text-uppercase text-extra-small">
                                <a href="#" class="text-grey-4"><i class="fa fa-map-marker margin-right-5px"></i>
                                <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                            </small>
                            <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                            <div class="margin-bottom-8px text-uppercase text-extra-small">
                                <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
                        </div>
                    </div>
                </div>


                <!-- hotel item ( 3 ) -->
                <div class="col-sm-6 col-lg-3 sm-mb-30px">
                    <div class="hotel-grid background-white border border-grey-1 with-hover">
                        <div class="hotel-img position-relative">
                            <div class="hover-option background-main-color opacity-6">
                                <div class="h3 text-center text-white padding-top-n-25 "><i class="fa fa-building-o opacity-10"></i></div>
                            </div>
                            <img src="assets/demo-img/hotel-grid-3.jpg" alt="">
                        </div>
                        <div class="rating">
                            <ul>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="padding-20px">
                            <h3 class="text-uppercase text-medium"><a href="#" class="text-dark">Gadi Elsir Hotel</a></h3>
                            <small class="text-uppercase text-extra-small">
                                <a href="#" class="text-grey-4"><i class="fa fa-map-marker margin-right-5px"></i>
                                <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                            </small>
                            <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                            <div class="margin-bottom-8px text-uppercase text-extra-small">
                                <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
                        </div>
                    </div>
                </div>


                <!-- hotel item ( 4 ) -->
                <div class="col-sm-6 col-lg-3 sm-mb-30px">
                    <div class="hotel-grid background-white border border-grey-1 with-hover">
                        <div class="hotel-img position-relative">
                            <div class="hover-option background-main-color opacity-6">
                                <div class="h3 text-center text-white padding-top-n-25 "><i class="fa fa-building-o opacity-10"></i></div>
                            </div>
                            <img src="assets/demo-img/hotel-grid-4.jpg" alt="">
                        </div>
                        <div class="rating">
                            <ul>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="padding-20px">
                            <h3 class="text-uppercase text-medium"><a href="#" class="text-dark">Knoon Hotel</a></h3>
                            <small class="text-uppercase text-extra-small">
                                <a href="#" class="text-grey-4"><i class="fa fa-map-marker margin-right-5px"></i>
                                <span class="text-third-color margin-right-5px">United Kingdom</span> London</a>
                            </small>
                            <i class="d-block padding-tb-8px text-grey-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. the industry's standard dummy text ever since the 1500s</i>
                            <div class="margin-bottom-8px text-uppercase text-extra-small">
                                <strong class="text-medium text-third-color padding-right-5px font-weight-bold">$500</strong>Person
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase">Booking Now </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <!-- ======= end New Hotels  ======= -->



    <!-- ======= top cities  ======= -->
    <section id="top-cities" class="map-ba top-cities padding-top-100px padding-bottom-70px background-grey-1">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8">
                    <div class="section-title section-title-left">
                        <h1 class="title"><span>Top </span> Cities</h1>
                        <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 margin-bottom-30px">
                            <div class="background-white  border border-grey">
                                <div class="city-img float-left margin-right-20px"><a href="#"><img src="assets/demo-img/citie-1.jpg" alt=""></a></div>
                                <div class="city-body">
                                    <div class="padding-14px">
                                        <div class="flag float-right margin-top-8px"><img src="assets/demo-img/flag-1.png" alt=""></div>
                                        <a class="d-block text-dark text-uppercase text-small font-weight-700" href="#">beirut </a>
                                        <a href="#" class="text-extra-small text-grey-4 margin-right-10px">Hotels: <span class="text-third-color">201</span></a>
                                        <a href="#" class="text-extra-small text-grey-4">Restaurants:<span class="text-third-color">452</span> </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 margin-bottom-30px">
                            <div class="background-white  border border-grey">
                                <div class="city-img float-left margin-right-20px"><a href="#"><img src="assets/demo-img/citie-2.jpg" alt=""></a></div>
                                <div class="city-body">
                                    <div class="padding-14px">
                                        <div class="flag float-right margin-top-8px"><img src="assets/demo-img/flag-2.png" alt=""></div>
                                        <a class="d-block text-dark text-uppercase text-small font-weight-700" href="#">tunisia </a>
                                        <a href="#" class="text-extra-small text-grey-4 margin-right-10px">Hotels: <span class="text-third-color">201</span></a>
                                        <a href="#" class="text-extra-small text-grey-4">Restaurants:<span class="text-third-color">452</span> </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 margin-bottom-30px">
                            <div class="background-white  border border-grey">
                                <div class="city-img float-left margin-right-20px"><a href="#"><img src="assets/demo-img/citie-3.jpg" alt=""></a></div>
                                <div class="city-body">
                                    <div class="padding-14px">
                                        <div class="flag float-right margin-top-8px"><img src="assets/demo-img/flag-3.png" alt=""></div>
                                        <a class="d-block text-dark text-uppercase text-small font-weight-700" href="#">Nouakchott </a>
                                        <a href="#" class="text-extra-small text-grey-4 margin-right-10px">Hotels: <span class="text-third-color">201</span></a>
                                        <a href="#" class="text-extra-small text-grey-4">Restaurants:<span class="text-third-color">452</span> </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 margin-bottom-30px">
                            <div class="background-white border border-grey">
                                <div class="city-img float-left margin-right-20px"><a href="#"><img src="assets/demo-img/citie-4.jpg" alt=""></a></div>
                                <div class="city-body">
                                    <div class="padding-14px">
                                        <div class="flag float-right margin-top-8px"><img src="assets/demo-img/flag-4.png" alt=""></div>
                                        <a class="d-block text-dark text-uppercase text-small font-weight-700" href="#">paris </a>
                                        <a href="#" class="text-extra-small text-grey-4 margin-right-10px">Hotels: <span class="text-third-color">201</span></a>
                                        <a href="#" class="text-extra-small text-grey-4">Restaurants:<span class="text-third-color">452</span> </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- // container -->
    </section>
    <!-- ======= end top cities  ======= -->



    <!-- ======= last news & traveler say  ======= -->
    <section class="padding-top-100px padding-bottom-65px background-light-grey">
        <div class="container">
            <div class="row">
                <!-- Last News -->
                <div class="col-lg-6">
                    <div class="section-title section-title-left">
                        <h1 class="title"><span>Last  </span> News</h1>
                        <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
                    </div>

                    <div class="news-cart background-white border border-grey margin-bottom-35px">
                        <div class="float-sm-left margin-right-30px">
                            <img src="assets/demo-img/news-1.jpg" alt="">
                        </div>
                        <div class="padding-20px">
                            <a href="#" class="d-block text-dark text-uppercase text-up-small margin-bottom-15px font-weight-700">Long Established Fact That A Reader Will Be Distracted By The Readable Content </a>
                            <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">Rabie Elkheir</a></span>
                            <span class="text-extra-small">Date :  <a href="#"  class="text-main-color">July 15, 2016</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="news-cart background-white border border-grey margin-bottom-35px">
                        <div class="float-sm-left margin-right-30px">
                            <img src="assets/demo-img/news-2.jpg" alt="">
                        </div>
                        <div class="padding-20px">
                            <a href="#" class="d-block text-dark text-uppercase text-up-small margin-bottom-15px font-weight-700">Long Mauris fermentum porta sem, non hendrerit enim bibendum consectetur </a>
                            <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">Rabie Elkheir</a></span>
                            <span class="text-extra-small">Date :  <a href="#"  class="text-main-color">July 15, 2016</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!-- // Last News -->

                <!-- Traveler say -->
                <div class="col-lg-6 travelers-say-in">
                    <div class="section-title section-title-left">
                        <h1 class="title"><span>Traveler </span> say</h1>
                        <span class="section-title-des">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elitdunt</span>
                    </div>

                    <ul class="travelers-say margin-0px padding-0px list-unstyled" data-slider-id="1">

                        <li class="padding-30px background-white border border-grey-1">
                            <div class="header-say">
                                <div class="sayer-img float-left margin-right-20px"><img src="assets/demo-img/testimonials-1.jpg" alt=""></div>
                                <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                                <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                                <div class="clearfix"></div>
                            </div>
                            <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                        </li>


                        <li class="padding-30px background-white border border-grey-1">
                            <div class="header-say">
                                <div class="sayer-img float-left margin-right-20px"><img src="assets/demo-img/testimonial-2.png" alt=""></div>
                                <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                                <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                                <div class="clearfix"></div>
                            </div>
                            <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                        </li>


                        <li class="padding-30px background-white border border-grey-1">
                            <div class="header-say">
                                <div class="sayer-img float-left margin-right-20px"><img src="assets/demo-img/testimonial-3.png" alt=""></div>
                                <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                                <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                                <div class="clearfix"></div>
                            </div>
                            <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                        </li>


                        <li class="padding-30px background-white border border-grey-1">
                            <div class="header-say">
                                <div class="sayer-img float-left margin-right-20px"><img src="assets/demo-img/testimonial-4.png" alt=""></div>
                                <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Rabie Elkheir</h5>
                                <i class="text-extra-small">Travel to <span class="text-main-color">Turkey</span></i>
                                <div class="clearfix"></div>
                            </div>
                            <i class="d-block margin-tb-20px text-medium text-grey-4">Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. </i>
                        </li>

                    </ul>

                </div>
                <!-- // Traveler say -->
            </div>
        </div>
    </section>
    <!-- =======  end last news & Traveler say  ======= -->


    <!-- =======  instgram feed  ======= -->
    <div id="instgram-feed">
        <ul class="instagram-feed">
            <li><a href="#"><img src="assets/demo-img/instagram-1.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-2.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-3.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-4.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-5.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-6.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-7.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-8.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-9.jpg" alt=""></a></li>
            <li><a href="#"><img src="assets/demo-img/instagram-10.jpg" alt=""></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- ======= end instgram feed  ======= -->


    <!-- ======= footer  ======= -->
    <footer class="text-center text-lg-left">
        <div class="container">
            <div class="row padding-tb-100px">
                <div class="col-lg-6 sm-mb-35px">
                    <div class="about">
                        <div class="logo margin-bottom-20px"><a href="#"><img src="assets/images/logo.png" alt=""></a></div>
                        <p class="text-grey-2">
                            Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. Maecenas quis magna faucibus, varius ante sit amet, varius augue. Praesent aliquam, a imperdiet lacus libero ac tellus. Nunc fringilla ullamcorper quam at lacinia.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 sm-mb-35px">
                    <ul class="footer-menu row margin-0px padding-0px list-unstyled">
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Home</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Featured</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Feedback</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Ask a Question</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Team</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Maintenance</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Get a Quote</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Contact Us</a></li>
                        <li class="col-6  padding-tb-5px"><a href="#" class="text-main-color">Alerts messages</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="images-feed row no-gutters margin-0px padding-0px list-unstyled">
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-1.jpg" alt=""></a></li>
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-2.jpg" alt=""></a></li>
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-3.jpg" alt=""></a></li>
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-4.jpg" alt=""></a></li>
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-5.jpg" alt=""></a></li>
                        <li class="col-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img src="assets/demo-img/instagram-6.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="row padding-tb-30px border-top-1 border-grey-1">
                <div class="col-lg-4">
                    <p class="text-lg-left"><span class="text-third-color">Travelz</span> | @2017 All copy rights reserved</p>
                </div>
                <div class="col-lg-4 sm-mb-20px">
                    <div class="text-center"><img src="assets/images/cards.png" alt=""></div>
                </div>
                <div class="col-lg-4">
                    <ul class="social_link list-inline text-sm-center text-lg-right">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- // Social -->
                </div>
            </div>

        </div>

    </footer>
  
