  <!-- Header  -->
    <header class="background-white box-shadow">
<!--        <div class="background-main-color padding-tb-5px">
            <div class="container">
                <div class="row">
                    <div class="col-sm d-none d-sm-block text-white">Modern Creative Website ....</div>
                    <div class="col-sm">
                        <ul class="list-inline text-center margin-0px text-white">
                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                         // Social 
                    </div>
                    <div class="col-sm d-none d-sm-block">
                        <ul class="user-area list-inline float-right margin-0px text-white">
                            <li class="list-inline-item  padding-right-10px"><a href="page-login-2.html"><i class="fa fa-lock padding-right-5px"></i>login</a></li>
                            <li class="list-inline-item"><a href="page-login-1.html"><i class="fa fa-user-plus padding-right-5px"></i>register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="header-output">
            <div class="container header-in">
                <div class="row">
                    <div class="col-lg-3">
                        <a id="logo" href="index.html" class="d-inline-block margin-tb-10px"><img src="assets/images/logo.png" alt=""></a>
                        <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
                    </div>
<!--                    <div class="col-lg-9 position-inherit">

                        <ul id="menu-main" class="nav-menu float-right link-padding-tb-20px dropdown-dark">
                            <li class="active mega-menu mega-links mega-links-4columns"><a href="#">Home</a>
                                <div class="mega-menu-out sub-menu-out">

                                    <ul class="sub-menu-columns">
                                        <li>
                                            <a href="#">demos one</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="01-home.html">Home - Agency 1</a></li>
                                                <li><a href="02-home.html">Home - Agency 2</a></li>
                                                <li><a href="03-home.html">Home - Agency 3</a></li>
                                                <li><a href="04-home.html">Home - Agency 4</a></li>
                                                <li><a href="05-home.html">Home - Agency 5</a></li>
                                                <li><a href="06-home.html">Home - Agency 6</a></li>
                                                <li><a href="07-home.html">Home - Agency 7</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos Two</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="08-home.html">Home - Agency 8</a></li>
                                                <li><a href="09-home.html">Home - Agency 9</a></li>
                                                <li><a href="10-home.html">Home - Ocean Tours</a></li>
                                                <li><a href="11-home.html">Home - Anwaar Hotel</a></li>
                                                <li><a href="12-home.html">Home - Anwaar Hotel 2</a></li>
                                                <li><a href="13-home.html">Home - Taxi VIP</a></li>
                                                <li><a href="14-home.html">Home - City Taxi</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos three</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="15-home.html">Home - Blogger</a></li>
                                                <li><a href="16-home.html">Home - Blogger 2</a></li>
                                                <li><a href="17-home.html">Home - Sea World</a></li>
                                                <li><a href="18-home.html">Home - Sailing Tours</a></li>
                                                <li><a href="19-home.html">Home - Magazine</a></li>
                                                <li><a href="20-home.html">Home - Magazine 2</a></li>
                                                <li><a href="21-home.html">Home - Right Header</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">demos four</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="22-home.html">Home - Knoon Hotel</a></li>
                                                <li><a href="23-home.html">Home - Africa Travel</a></li>
                                                <li><a href="24-home.html">Home - Dark Style</a></li>
                                                <li><a href="25-home.html">Home - Search Header</a></li>
                                                <li><a href="26-home-one-page.html">Home - One page 1</a></li>
                                                <li><a href="27-home-one-page.html">Home - One page 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                            <li class="has-dropdown"><a class="dropdown" href="#">Features  </a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">Headers</a>
                                        <ul class="sub-menu">
                                            <li><a href="header-layout-1.html">Header 1</a></li>
                                            <li><a href="header-layout-2.html">Header 2</a></li>
                                            <li><a href="header-layout-3.html">Header 3</a></li>
                                            <li><a href="header-layout-4.html">Header 4</a></li>
                                            <li><a href="header-layout-5.html">Header 5</a></li>
                                            <li><a href="header-layout-6.html">Header 6</a></li>
                                            <li><a href="header-layout-7.html">Header 7</a></li>
                                            <li><a href="header-layout-8.html">Header 8</a></li>
                                            <li><a href="header-layout-9.html">Header 9</a></li>
                                            <li><a href="header-layout-10.html">Header 10</a></li>
                                            <li><a href="header-layout-11.html">Header 11</a></li>
                                            <li><a href="header-layout-12.html">Header 12</a></li>
                                            <li><a href="header-layout-13.html">Header 13</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Footers</a>
                                        <ul class="sub-menu">
                                            <li><a href="footer-layout-1.html">Footer 1</a></li>
                                            <li><a href="footer-layout-2.html">Footer 2</a></li>
                                            <li><a href="footer-layout-3.html">Footer 3</a></li>
                                            <li><a href="footer-layout-4.html">Footer 4</a></li>
                                            <li><a href="footer-layout-5.html">Footer 5</a></li>
                                            <li><a href="footer-layout-6.html">Footer 6</a></li>
                                            <li><a href="footer-layout-7.html">Footer 7</a></li>
                                            <li><a href="footer-layout-8.html">Footer 8</a></li>
                                            <li><a href="footer-layout-9.html">Footer 9</a></li>
                                            <li><a href="footer-layout-10.html">Footer 10</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Gallery</a>
                                        <ul class="sub-menu">
                                            <li><a href="gallery-full-width.html">Gallery Full Width</a></li>
                                            <li><a href="gallery-2-column.html">Gallery 2 Column</a></li>
                                            <li><a href="gallery-3-column.html">Gallery 3 Column</a></li>
                                            <li><a href="gallery-4-column.html">Gallery 4 Column</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-2-col-left-sidebar.html">2 Col Left sidebar</a></li>
                                            <li><a href="shop-3-col-left-sidebar.html">3 Col Left sidebar</a></li>
                                            <li><a href="shop-2-col-right-sidebar.html">2 Col Right sidebar</a></li>
                                            <li><a href="shop-3-col-right-sidebar.html">3 Col Right sidebar</a></li>
                                            <li><a href="shop-3-col.html">3 Columns</a></li>
                                            <li><a href="shop-4-col.html">4 Columns</a></li>
                                            <li><a href="shop-cart.html">Cart</a></li>
                                            <li><a href="shop-single.html">Single 1</a></li>
                                            <li><a href="shop-single-2.html">Single 2</a></li>
                                            <li><a href="shop-single-2.html">Single 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">page title</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-title-1.html">page title 1</a></li>
                                            <li><a href="page-title-2.html">page title 2</a></li>
                                            <li><a href="page-title-3.html">page title 3</a></li>
                                            <li><a href="page-title-4.html">page title 4</a></li>
                                            <li><a href="page-title-5.html">page title 5</a></li>
                                            <li><a href="page-title-6.html">page title 6</a></li>
                                            <li><a href="page-title-7.html">page title 7</a></li>
                                            <li><a href="page-title-8.html">page title 8</a></li>
                                            <li><a href="page-title-9.html">page title 9</a></li>
                                            <li><a href="page-title-10.html">page title 10</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-dropdown"><a href="#">Dashboard</a>
                                        <ul class="sub-menu">
                                            <li><a href="dashboard-home.html">Dashboard home</a></li>
                                            <li><a href="dashboard-my-items.html">my items</a></li>
                                            <li><a href="dashboard-my-favorites.html">my favorites</a></li>
                                            <li><a href="dashboard-my-profile.html">my profile</a></li>
                                            <li><a href="dashboard-blank.html">blank</a></li>
                                            <li><a href="dashboard-404-page.html">404 page</a></li>
                                            <li><a href="dashboard-packages.html">packages</a></li>
                                            <li><a href="dashboard-reviews.html">reviews</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Dashboard V2</a>
                                        <ul class="sub-menu">
                                            <li><a href="dashboard-v2-home.html">Dashboard home</a></li>
                                            <li><a href="dashboard-v2-my-items.html">my items</a></li>
                                            <li><a href="dashboard-v2-my-favorites.html">my favorites</a></li>
                                            <li><a href="dashboard-v2-my-profile.html">my profile</a></li>
                                            <li><a href="dashboard-v2-blank.html">blank</a></li>
                                            <li><a href="dashboard-v2-404-page.html">404 page</a></li>
                                            <li><a href="dashboard-v2-packages.html">packages</a></li>
                                            <li><a href="dashboard-v2-reviews.html">reviews</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-dropdown"><a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">Grid Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-grid-4-colm.html">Grid 4 Columns</a></li>
                                            <li><a href="blog-grid-left-sidebar.html">grid left sidebar</a></li>
                                            <li><a href="blog-grid-no-sidebar.html">grid no sidebar</a></li>
                                            <li><a href="blog-grid-right-sidebar.html">grid right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">list Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-list-left-sidebar.html">list left sidebar</a></li>
                                            <li><a href="blog-list-no-sidebar.html">list no sidebar</a></li>
                                            <li><a href="blog-list-right-sidebar.html">list right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">classic Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-classic-left-sidebar.html">classic left sidebar</a></li>
                                            <li><a href="blog-classic-no-sidebar.html">classic no sidebar</a></li>
                                            <li><a href="blog-classic-right-sidebar.html">classic right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">single Layout</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-single-left-sidebar.html">single left sidebar</a></li>
                                            <li><a href="blog-single-no-sidebar.html">single no sidebar</a></li>
                                            <li><a href="blog-single-right-sidebar.html">single right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Post Formats</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-audio-post.html">audio post</a></li>
                                            <li><a href="blog-blockquote-post.html">blockquote post</a></li>
                                            <li><a href="blog-gallery-post.html">gallery post</a></li>
                                            <li><a href="blog-html5-video-post.html">video post</a></li>
                                            <li><a href="blog-slider-post.html">slider post</a></li>
                                            <li><a href="blog-standard-post.html">standard post</a></li>
                                            <li><a href="blog-vimeo-video-post.html">vimeo video post</a></li>
                                            <li><a href="blog-youtube-video-post.html">youtube video post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-dropdown"><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="has-dropdown"><a href="#">about</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-about.html">about 1</a></li>
                                            <li><a href="page-about-2.html">about 2</a></li>
                                            <li><a href="page-careers.html">careers</a></li>
                                            <li><a href="page-how-we-are.html">how we are</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">coming soon</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-coming-soon-1.html">coming soon 1</a></li>
                                            <li><a href="page-coming-soon-2.html">coming soon 2</a></li>
                                            <li><a href="page-coming-soon-3.html">coming soon 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">contact</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-contact-1.html">contact 1</a></li>
                                            <li><a href="page-contact-2.html">contact 2</a></li>
                                            <li><a href="page-contact-3.html">contact 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">faqs</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-faqs-1.html">faqs 1</a></li>
                                            <li><a href="page-faqs-2.html">faqs 2</a></li>
                                            <li><a href="page-faqs-3.html">faqs 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">404 page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-faqs-1.html">404 page 1</a></li>
                                            <li><a href="page-faqs-2.html">404 page 2</a></li>
                                            <li><a href="page-faqs-3.html">404 page 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">loading page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-loading-1.html">loading page 1</a></li>
                                            <li><a href="page-loading-2.html">loading page 2</a></li>
                                            <li><a href="page-loading-3.html">loading page 3</a></li>
                                            <li><a href="page-loading-4.html">loading page 4</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">login page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-login-1.html">login page 1</a></li>
                                            <li><a href="page-login-2.html">login page 2</a></li>
                                            <li><a href="page-login-3.html">login page 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">pricing tables</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-pricing-tables-1.html">pricing tables 1</a></li>
                                            <li><a href="page-pricing-tables-2.html">pricing tables 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">services</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-services-1.html">page services 1</a></li>
                                            <li><a href="page-services-2.html">page services 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">team page</a>
                                        <ul class="sub-menu">
                                            <li><a href="page-team-1.html">team page 1</a></li>
                                            <li><a href="page-team-2.html">team page 2</a></li>
                                            <li><a href="page-team-single.html">team single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page-maintenance.html">maintenance page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Hotels</a>
                                <ul class="sub-menu">
                                    <li><a href="hotel-list.html">Hotels List View</a></li>
                                    <li><a href="hotel-grid-1.html">Hotels Grid View</a></li>
                                    <li><a href="hotel-grid-2.html">Hotels Grid View 2</a></li>
                                    <li><a href="hotel-details.html">Hotels Details</a></li>
                                    <li><a href="hotel-booking.html">Hotels Booking</a></li>
                                    <li><a href="hotel-thank-you.html">Hotels Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Flights</a>
                                <ul class="sub-menu">
                                    <li><a href="flight-list.html">Flights List View</a></li>
                                    <li><a href="flight-grid-1.html">Flights Grid View</a></li>
                                    <li><a href="flight-grid-2.html">Flights Grid View 2</a></li>
                                    <li><a href="flight-details.html">Flights Details</a></li>
                                    <li><a href="flight-booking.html">Flights Booking</a></li>
                                    <li><a href="flight-thank-you.html">Flights Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">Cars</a>
                                <ul class="sub-menu">
                                    <li><a href="car-list.html">Cars List View</a></li>
                                    <li><a href="car-grid-1.html">Cars Grid View</a></li>
                                    <li><a href="car-grid-2.html">Cars Grid View 2</a></li>
                                    <li><a href="car-details.html">Cars Details</a></li>
                                    <li><a href="car-booking.html">Cars Booking</a></li>
                                    <li><a href="car-thank-you.html">Cars Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="#">tour</a>
                                <ul class="sub-menu">
                                    <li><a href="tour-list.html">tour List View</a></li>
                                    <li><a href="tour-grid-1.html">tour Grid View</a></li>
                                    <li><a href="tour-grid-2.html">tour Grid View 2</a></li>
                                    <li><a href="tour-details.html">tour Details</a></li>
                                    <li><a href="tour-booking.html">tour Booking</a></li>
                                    <li><a href="tour-thank-you.html">tour Thanks page</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu mega-links mega-links-4columns"><a href="#">Elements</a>
                                <div class="mega-menu-out sub-menu-out">
                                    <ul class="sub-menu-columns">
                                        <li>
                                            <a href="#">Elements One</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-accordions.html">accordions</a></li>
                                                <li><a href="elements-action-box.html">action box</a></li>
                                                <li><a href="elements-alert-messages.html">alert messages</a></li>
                                                <li><a href="elements-banners.html">banners</a></li>
                                                <li><a href="elements-blockquotes.html">blockquotes</a></li>
                                                <li><a href="elements-blog-post.html">blog post</a></li>
                                                <li><a href="elements-booking-box.html">booking box</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements Two</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-box-style.html">box style</a></li>
                                                <li><a href="elements-buttons.html">buttons</a></li>
                                                <li><a href="elements-clients.html">clients</a></li>
                                                <li><a href="elements-columns-grids.html">columns grids</a></li>
                                                <li><a href="elements-counters.html">counters</a></li>
                                                <li><a href="elements-datatable.html">datatable</a></li>
                                                <li><a href="elements-flag-icon.html">flag icon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements three</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-fontawesome.html">fontawesome</a></li>
                                                <li><a href="elements-icon-style.html">icon style</a></li>
                                                <li><a href="elements-labels-badges.html">labels badges</a></li>
                                                <li><a href="elements-lists.html">lists</a></li>
                                                <li><a href="elements-maps.html">maps</a></li>
                                                <li><a href="elements-pagination.html">pagination</a></li>
                                                <li><a href="elements-social-icons.html">social icons</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Elements four</a>
                                            <ul class="mega-menu-list">
                                                <li><a href="elements-tabs.html">tabs</a></li>
                                                <li><a href="elements-team.html">team</a></li>
                                                <li><a href="elements-typography.html">typography</a></li>
                                                <li><a href="elements-video.html">video</a></li>
                                                <li><a href="elements-timeline.html">timeline</a></li>




                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>-->
                </div>
            </div>
        </div>
    </header>
    <!-- // Header  -->
    <!-- Page title --->
    <section class="background-grey-1 padding-tb-25px text-grey-4">
        <div class="container">
            <h6 class="font-weight-300 text-capitalize float-md-left font-2 padding-tb-10px">flight list</h6>
            <ol class="breadcrumb z-index-2 position-relative no-background padding-tb-10px padding-lr-0px  margin-0px float-md-right">
                <li><a href="#" class="text-grey-4">Home</a></li>
<!--                <li><a href="#" class="text-grey-4">pages</a></li>-->
                <li class="active">flight list</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- // Page title --->


    <!-- page output -->
    <div class="padding-tb-40px background-light-grey">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
<!--                <div class="col-lg-3 sticky-sidebar">
                     Hotels Search 
                    <div class="widget">
                        <h4 class="widget-title clearfix"><span>flight  Search</span></h4>
                        <div class="search-filter">
                            <div class="form-group margin-bottom-5px">
                                <label>From</label>
                                <div class="destination"><input type="text" class="input-text full-width" placeholder="Saudi Arabia"></div>
                            </div>
                            <div class="form-group margin-bottom-5px">
                                <label>To</label>
                                <div class="destination"><input type="text" class="input-text full-width" placeholder="United States , United States"></div>
                            </div>
                            <div class="form-group margin-bottom-5px">
                                <label>Departing On</label>
                                <div class="date-input"><input type="text" class="input-text datepicker full-width hasDatepicker" placeholder="15 / 5 / 2017"></div>
                            </div>
                            <div class="form-group margin-bottom-5px">
                                <label>Arriving On</label>
                                <div class="date-input"><input type="text" class="input-text datepicker full-width hasDatepicker" placeholder="15 / 5 / 2017"></div>
                            </div>
                            <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> flight  Search</a>
                        </div>
                    </div>
                     //  Hotels Search 

                     Price Search 
                    <div class="widget">
                        <h4 class="widget-title clearfix"><span>Price</span></h4>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                $0 - $50
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                $50 - $100
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                $100 - Rs.{{fairArray[Math.floor(Math.random() * fairArray.length)]}}
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                Rs.{{fairArray[Math.floor(Math.random() * fairArray.length)]}} - $1000
                              </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                                $1000 - $10,000
                              </label>
                        </div>
                        <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Refresh  Search</a>
                    </div>
                     Price Search 

                     Price Search 
                    <div class="widget">
                        <h4 class="widget-title clearfix"><span>Flight Type</span></h4>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                $0 - $50
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                Business
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                First class
                              </label>
                        </div>
                        <div class="form-check border-bottom-1 border-grey-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                Economy
                              </label>
                        </div>
                        <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center text-uppercase font-weight-600"><i class="fa fa-search"></i> Refresh  Search</a>
                    </div>
                     Price Search 

                </div>
                 //  Sidebar -->

                <!-- Content -->
                <div class="col-lg-10" alexa_output="list:flight"  alexa_intent="AMAZON_FLIGHT_BOOKING">

                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-1.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="Jet Airways Rs.500 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.500</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-2.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="Spice Jet Rs.550 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.550</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-3.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="IndiGo Rs.650 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.650</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-4.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="Air India Rs.600 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.600</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-1.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="British Airways Rs.625 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.625</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-2.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="Emirates  Rs.590 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.590</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-3.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="GoAir  Rs.800 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.800</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->


                    <!-- flight post -->
                    <div class="flight-post background-white border-bottom-1 border-grey-1 with-hover box-shadow-hover margin-bottom-40px">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <div class="hotel-img position-relative">
                                    <img  src="assets/demo-img/flight-4.jpg" alt="">
                                    <div class="hover-option background-main-color opacity-6">
                                        <h3 class="text-center text-white padding-top-n-25 "></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="padding-20px">
                                    <h3 class="text-uppercase text-medium font-weight-600"><a href="#" class="text-dark"><span class="margin-right-30px">from: {{flyingFrom}}</span>to: {{flyingTo}}</a></h3>
                                    <a href="#" class="float-lg-right btn-sm btn-lg background-grey-1 text-grey-2 text-center text-uppercase pull-top-30px" alexa_list_output="Etihad Airways Rs.850 per person" >Booking Now </a>
                                    <small class="text-uppercase text-extra-small margin-right-30px">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-up margin-right-5px"></i>
                                            Departure :  <span class="text-third-color margin-right-5px">{{flyingStart}}</span> </a>
                                        </small>
                                    <small class="text-uppercase text-extra-small">
                                            <a href="#" class="text-grey-4"><i class="fa fa-chevron-down margin-right-5px"></i>
                                            Return :  <span class="text-third-color margin-right-5px">{{flyingEnd}}</span> </a>
                                        </small>
                                    <div class="claerfix"></div>
                                    <div class="margin-top-8px padding-top-8px text-uppercase text-extra-small border-top-1 border-grey-1">
                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">Rs.850</strong> / Person
                                        <i class="d-block padding-tb-8px text-grey-2 float-lg-right"><span class="margin-right-40px">Oneway flight</span> 2 Sotp</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // flight post -->

                    <ul class="pagination pagination-md ">
                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                    </ul>
                </div>
                <!-- //  Content -->

            </div>
            <!--// row -->

        </div>
    </div>
    <!-- //  page output -->


    <div id="instgram-feed">
        <ul class="instagram-feed">
            <li><a href="#"><img  src="assets/demo-img/instagram-1.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-2.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-3.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-4.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-5.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-6.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-7.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-8.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-9.jpg" alt=""></a></li>
            <li><a href="#"><img  src="assets/demo-img/instagram-10.jpg" alt=""></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- // Instgram Feed -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row padding-tb-100px">
                <div class="col-lg-6">
                    <div class="about">
                        <div class="logo margin-bottom-20px"><a href="#"><img src="assets/images/logo.png" alt=""></a></div>
                        <p class="text-grey-2">
                            Mauris fermentum porta sem, non hendrerit enim bibendum consectetur. Fusce diam est, porttitor vehicula gravida at, accumsan bibendum tincidunt imperdiet. Maecenas quis magna faucibus, varius ante sit amet, varius augue. Praesent aliquam, a imperdiet lacus libero ac tellus. Nunc fringilla ullamcorper quam at lacinia.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <ul class="footer-menu row margin-0px padding-0px list-unstyled">
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Home</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Featured</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Feedback</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Ask a Question</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Team</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Maintenance</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Get a Quote</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Contact Us</a></li>
                        <li class="col-lg-6 col-md-6 padding-tb-5px"><a href="#" class="text-main-color">Alerts messages</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="images-feed row no-gutters margin-0px padding-0px list-unstyled">
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-1.jpg" alt=""></a></li>
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-2.jpg" alt=""></a></li>
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-3.jpg" alt=""></a></li>
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-4.jpg" alt=""></a></li>
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-5.jpg" alt=""></a></li>
                        <li class="col-lg-4 col-md-4 padding-tb-5px"><a href="#" class="padding-lr-5px d-block"><img  src="assets/demo-img/instagram-6.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="row padding-tb-30px border-top-1 border-grey-1">
                <div class="col-lg-4">
                    <p class="text-sm-center text-lg-left"><span class="text-third-color">Travelz</span> | @2017 All copy rights reserved</p>
                </div>
                <div class="col-lg-4 sm-mb-20px">
                    <div class="text-center"><img src="assets/images/cards.png" alt=""></div>
                </div>
                <div class="col-lg-4">
                    <ul class="social_link list-inline text-sm-center text-lg-right">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- // Social -->
                </div>
            </div>

        </div>

    </footer>
    <!-- // Footer -->
